<div class="container justify-content-center pt-5">
  <div class="row">
    <h2 class="display-6 text-center fw-bold" style="color: #01ddff">Edit Enigma</h2>
    <%= render "form", challenge: @challenge %>
  </div>
</div>
