.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba($color: #200152, $alpha: 1.0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
